{{template "base/head" .}}
<div class="repository view issue pull">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui two column stackable grid">
			<div class="column">
				{{template "repo/issue/navbar" .}}
			</div>
			{{if not .Repository.IsArchived}}
				<div class="column right aligned">
					{{if .PageIsIssueList}}
						<a class="ui green button" href="{{.RepoLink}}/issues/new">{{.i18n.Tr "repo.issues.new"}}</a>
					{{else}}
						<a class="ui green button {{if not .PullRequestCtx.Allowed}}disabled{{end}}" href="{{.RepoLink}}/compare/{{.BranchName | EscapePound}}...{{.PullRequestCtx.HeadInfo | EscapePound}}">{{.i18n.Tr "repo.pulls.new"}}</a>
					{{end}}
				</div>
			{{end}}
		</div>
		<div class="ui divider"></div>
		{{if .Issue.IsPull}}
			{{template "repo/issue/view_title" .}}
			{{template "repo/pulls/tab_menu" .}}
			<div class="ui bottom attached tab pull segment active" data-tab="request-{{.ID}}">
				{{template "repo/issue/view_content" .}}
			</div>
		{{else}}
			<div>
				{{/*加载 /repo/issue/view_content模板文件*/}}
				{{template "repo/issue/view_content" .}}
			</div>
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
